# CMake / build
/build/
/CMakeFiles/
/out/
/CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Visual Studio
.vs/
*.sln
*.vcxproj*
*.user
*.opendb
*.tlog
*.lastbuildstate
*.VC.db
*.VC.db-shm
*.VC.db-wal

# Artefakty kompilacji
*.ninja
.ninja_deps
.ninja_log
*.obj
*.pdb
*.ilk
*.idb
*.exe
*.dll
*.lib
*.exp
*.o
*.a

# Paczki/artefakty CI
*.zip
*.tar.gz
